

.heading {
    text-align: center;
    font-family: 'Cinzel Decorative', cursive;
}


body{
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    background-color: #e1dfda;
}

.logo-splash{
    min-width: 1200px;
}

 /* BUTTON STYLES */

.weapon {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 100px;
    height: 100px;
}
#Slashing{
    background-image: url(https://img.icons8.com/fluent/48/000000/sword.png);
    background-size: cover;
}
#Slashing:hover{
    box-shadow: 0px 0px 5px #8e9ba4;
}

#Piercing{
    background-image: url(https://img.icons8.com/color/48/000000/royal-marines.png);
    background-size: cover;
}
#Piercing:hover{
    box-shadow: 0px 0px 5px #8e9ba4;
}

#Bludgeoning{
    background-image: url(https://img.icons8.com/color/48/000000/thor-hammer.png);
    background-size: cover;
}
#Bludgeoning:hover{
    box-shadow: 0px 0px 5px #8e9ba4;
}

/* MODAL STYLES */


COLOR-PALLETE{
    color: #32352f;
    color: #e1dfda;
    color: #8a7f6f;
    color: #9fab9e;
    color: #6c7e72;
    color: #655447;
    color: #c48763;
    color: #b9655b;
    color: #5e6a6d;
    color: #8e9ba4;
}
.modal hr{
    margin: 50px 0;
    box-shadow: 0px 3px 5px;
}

.btn-close{
    /* position: absolute;
    overflow: visible;
    top: -8px;
    right: -8px;
    z-index: 100000; */
    background-color: #b9655b;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}


.flavour-text-current{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-style: italic;
    font-size: 1.1rem;
    padding: 8% 8%;
    margin: 2%;
    background-color: #c48763;
    border-radius: 5px;
    box-shadow: 1px 3px 4px;
}

.current-header{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    background-color: #b9655b;
    color: #32352f; 
    padding: 15px 30px;
    margin: -10px -10px 0 -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* display: inline-block; */
}

.flavour-text{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 400;
    font-style: italic;
    padding: 8% 8%;
    margin: 2%;
    background-color: #8e9ba4;
    border-radius: 5px;
    box-shadow: 1px 3px 5px;
}

.modal-content{
    border-radius: 10px;
    box-shadow: 2px 4px 6px;
    background-color: #9fab9e;
}
.modal-header{
    background-color: #6c7e72;
    color: #32352f;
}
.modal-title{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
}
.prev-header{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    background-color: #5e6a6d;
    color: #32352f; 
    padding: 15px 30px;
    margin: -10px -10px 0 -10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* display: inline-block; */
}

.hit-container{
    box-shadow: 1px 3px 5px;
    padding: 10px;
    margin: 3%;
    background-color: #e1dfda;
    border-radius: 8px;
}

.rules-section{
    font-weight: 300;
    padding: 5%;
}

.rules-section span{
    font-family: 'Cinzel Decorative', cursive;
    display: block;
    font-weight: 700;
}

.history-title{
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 900;
    color: #32352f; 
}

